.dark-menu {
  background-color: #252525 !important;
  color: #ffffff;
}

.dark-background {
  background-color: #252525 !important;
}

.dark-search-bar::placeholder {
  color: #ffffff !important;
}

.magnifier svg {
  color: #ffffff;
}

.star svg {
  color: #ffffff;
}

.adjust svg {
  color: #ffffff;
}

.view svg {
  color: #ffffff;
}

.main-dark-background {
  background-color: #2c2c2c;
}

.view-dropdown {
  .dropdown-card-icon {
    color: #ffffff;
  }
}

.dark-add-repository-dropdown {
  background-color: #252525;
  .dark-card-body {
    background-color: #252525;
  }
}

.dark-card-icons button svg {
  color: #ffffff !important;
}

.dark-line-card-icons button svg {
  color: #ffffff !important;
}
