main {
  background-color: rgb(247, 248, 249);

  .emptystate-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 4rem);
  }
}

@media (max-width: 1280px) {
  .card-row {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .card-row {
    width: 100%;
  }
}
