main {
  background-color: rgb(247, 248, 249);

  .emptystate-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - 4rem);

    .empty {
      margin: 0 auto !important;
    }
  }
}

@media (max-width: 1280px) {
  .card-row {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .card-row {
    width: 100%;
  }
}
