nav {
  color: #6b6c7e;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    max-width: 100%;
    padding: 0 3rem;

    .app-name {
      font-size: 1rem;
      padding: 0 1rem;

      img {
        margin-right: 1rem;
        width: 1.7rem;
        height: 1.7rem;
      }
    }

    .search-bar {
      min-width: 30%;
      .minh-40 {
        min-height: 40px;
      }
      .input-group-text {
        background-color: #f1f2f5;
      }
    }
  }
  svg {
    color: #6b6c7e;
  }
  .right-menu-icons {
    align-items: center;
  }

  .right-menu-icons :hover {
    background: rgba(39, 40, 51, 0.04);
  }
}

@media (max-width: 640px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    height: 12rem !important;

    .filter-and-search {
      flex-direction: column-reverse;
    }

    .filter-dropdown {
      margin-top: 1rem;
    }

    .right-menu-icons {
      width: fit-content !important;
    }
  }
}

@media (max-width: 990px) {
  .menu {
    display: flex;
    justify-content: space-evenly !important;

    .right-menu-icons {
      width: fit-content;
    }
  }
}
