.add-repository-dropdown {
  max-width: 800px !important;
  width: 30rem !important;
  .card {
    margin-bottom: 10px !important;
    .card-body {
      .card-title {
        font-size: 18px;
        padding-bottom: 15px;
      }

      .add-repository-input {
        background: #feefef;
        border: 1px solid #f48989;
      }

      label {
        span {
          color: #b95000;
        }
        margin-bottom: 12px;
      }
    }
  }
  .dropdown-action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      margin-right: 1rem;
    }
    padding-bottom: 0.25rem;
  }
}
