* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 100%;
  vertical-align: baseline;
  font-family: "SF Pro Text", sans-serif;
  list-style: none;
}

.unstyled-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.pl61 {
  padding-left: 61px !important;
}

.container-fluid-max-xl {
  min-width: 200px !important;
}

.dark-card {
  background-color: #272727 !important;
}
